ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: center,
}

li {
    float: left;
}

li img {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}


.hoverable {
    transition: 0.3s;
}

.hoverable:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.05);
}
